@value teal, white from "../../global.css";

.tagsButton {
	background-image: url("../../resources/tags.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 40px;
	width: 40px;
	position: absolute;
	right: 20px;
	top: calc(50% - 20px);
	cursor: pointer;
}