@value white, headerHeight, backgroundDim from "../../global.css";

.wrapper {
  composes: absolutePosition from global;
  background: backgroundDim;
  overflow: hidden;
  display: flex;
}

.leftContainer {
  position: relative;
	display: flex;
}

.scrollbar {
	height: 100%;
	position: relative;
}

.list {
  list-style: none;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0 auto;
  width: 960px;
  line-height: 0;
	text-align: center;
	font-size: 0;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.description {
	background: black;
	position: relative;
  flex-grow: 1;
}

.map {
	position: relative;
  flex-grow: 1;
}
