@value red from "../../global.css";

.listItem {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
	padding: 1px 2px;
	position: relative;
}

.overlay {
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 2px;
	right: 2px;
	opacity: 0;
	cursor: pointer;
}

.hover {
	background: #fff;
	transition: opacity .1s ease-out;
}

.marked {
	background: #e0e6ff;
	transition: opacity .4s ease-in-out;
}

.overlay:hover {
	opacity: 0.1;
}

.overlayHover {
	opacity: 0.5;
}

.photo {
	cursor: pointer;
	width: 100%;
	height: 100%;
}