@value backgroundDim, headerHeight from "../../global.css";

.tagList {
	composes: absolute-position from global;
	top: headerHeight;
	text-align: center;
	z-index: 1;
	background: backgroundDim;
}

.tagListHidden {
	display: none;
}