.list {
	list-style: none;
	background: white;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.listItem {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	flex-grow: 1;
	min-width: 350px;
	vertical-align: middle;
	line-height: 350px;
}