.container {
	composes: absolute-position from global;
	background: url("../resources/background.jpeg");
	background-size: 100% auto;
	background-position: 50% 35%;
	overflow: hidden;
}

.menuContainer {
	position: absolute;
	top: calc(70px + 5%);
	bottom: 10%;
	left: 10%;
	right: 10%;
	overflow: hidden;
}

.hackShadowContainer {
	position: absolute;
	top: calc(70px + 5%);
	width: 10%;
	bottom: 10%;
	overflow: hidden;
	display: none;
}

.hackShadowContainerLeft {
	composes: hackShadowContainer;
	left: 0;
	display: block;
}

.hackShadowContainerRight {
	composes: hackShadowContainer;
	right: 0;
	display: block;
}

.hackShadow {
	position: absolute;
	top: 5%;
	bottom: 5%;
	width: 0;
	box-shadow: 0 0 15px 15px rgba(200, 200, 200, .8);
}

.hackShadowContainerLeft .hackShadow {
	right: 0;
}

.hackShadowContainerRight .hackShadow {
	left: 0;
}

.menu {
	composes: absolute-position from global;
	left: -20%;
	right: -20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transform: skewX(-30deg);
}

.linkPhotos {
	background-color: rgba(79, 79, 20, 0.8);
}

.linkMap {
	background-color: rgba(7, 61, 8, 0.8);
}

.linkAbout {
	background-color: rgba(79, 0, 0, 0.8);
}

.textNode {
	flex-grow: 1;
	transform: skewX(30deg);
	text-align: center;
}

.linkPhotos .textNode {
	transform: skewX(30deg) translate(25%, -100%);
}

.linkAbout .textNode {
	transform: skewX(30deg) translate(-25%, 100%);
}