.list {
	list-style: none;
	background: white;
	padding: 0;
	margin: 0;
	width: 100%;
}

.listItem {
	flex-grow: 4;
	box-sizing: border-box;
	overflow: hidden;
}

.wrapper {
	height: 100%;
	width: calc(100% + 17px);
	overflow-y: scroll;
}