.photo {
	vertical-align: middle;
	cursor: pointer;
	z-index: 1;
	position: relative;
}

.blur {
	position: absolute;
	top: 0;
	left: -10%;
	width: 120%;
	opacity: 0.25;
	background: rgba(30, 30, 30, 0.75);
}