@value darkgrey, orange, pink, yellow, lightblue, teal from "../global.css";

.container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.photoList {
	position: absolute;
	left: 0px;
	top: 70px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background: white;
}