@import url('https://fonts.googleapis.com/css?family=Montserrat|Ewert|Lobster|Pacifico');

@value font: 'Montserrat', sans-serif;
@value ewert: 'Ewert', sans-serif;

@value darkgrey: #272727;
@value orange: #fc6922;
@value pink: #e4966c;
@value yellow: #ffe251;
@value lightblue: #c4daff;
@value teal: #13494c;
@value white: #f7faff;
@value red: #bc1e4b;

@value backgroundDim: rgba(0, 0, 0, 0.9);

@value headerHeight: 70px;

:global .absolutePosition {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

:global body {
	font-family: font;
	color: darkgrey;
	background-color: white;
	overflow: hidden;
	margin: 0;
}

:global ul {
	margin: 0;
	padding: 0;
}

:global a {
	text-decoration: none;
}

:global :focus {
	outline: none;
}