.button {
	background: rgba(66, 66, 66, .54);
	border-radius: 28px;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	height: 56px;
	width: 56px;
	cursor: pointer;
}

.previous {
	left: 20px;
}

.next {
	right: 20px;
}